.my-custom-input {
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border: 1px solid #9c88ff;
  border-radius: 100px;
  box-shadow: 0 1.5rem 2rem rgba(156, 136, 255, 0.2);
  color: #9c88ff;
  outline: none;
}