.navbar-dir {
  direction: rtl !important;
  position: fixed;
  z-index: 10000;
  width: 99% !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 90px !important;
}
.logo {
  width: 180px !important;
  height: 35px !important;
  border: 5px !important;
}
.nav-link {
  padding: 10px;
  margin: 10px;
  gap: 10px;
  justify-content: space-between;
}
.light-btn {
  border: 1px solid #0147f5;

  color: #0147f5;
}
