@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  direction: rtl !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  direction: rtl !important;
}

body {
  direction: rtl !important;
}

a {
  color: inherit;
  text-decoration: none;
}

